DATABASE_URL="url_de_conexão_com_o_banco_de_dados"
SECRET_KEY="sua_chave_secreta_aqui_muito_longa_e_aleatoria" 
ALGORITHM="algoritmo_de_codificação_para_o_jwt"
ACCESS_TOKEN_EXPIRE_MINUTES="tempo_de_expiração_do_token_em_minutos"